html{
    background-color: #202632;
    color: #d5e6f1;
    font-family: 'Manrope';
    overflow: hidden;
}
body, html {position: fixed;}
.greenText{
    color: #52ffa9;
}
#primary{
    width: 97vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    width: 35rem;
    height: 20rem;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 0fr 1fr 1fr ;
    justify-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #313a49;
    position: relative;
}

#main p{
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 0;
}

#main h1{
    margin: 0 4rem;
    font-weight: 500;
}

#main>img{
    margin-bottom: 3rem;
}

#main button{
    cursor: pointer;
    background-color: #52ffa9;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;

}

#main button > img{
    width: 28px;
    height: 28px;
    margin-top: 4.9px;
    margin-left: 0px;
}


#main button:hover{
    -webkit-box-shadow: 0px 0px 35px 5px hsl(150, 100%, 66%);
    box-shadow: 0px 0px 35px 5px hsl(150, 100%, 66%);
    background-color:  hsl(150, 100%, 66%);
}

.spin{
    animation:spin 5s;
}

@-moz-keyframes spin { 50% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 50% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }